.loading_effect{
    opacity:0.4;
    filter:alpha(opacity=40);
    position:absolute;
    width:100%;
    height: 100%;
    left: 0px;
    top:0px;
    z-index:1;
    background: white;
}
.loading_block{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 9999;
    background: url(../img/loading.gif) center no-repeat;
    position: absolute;
}